{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- ======================= Page Title ===================== -->
<div class="page-title">
  <div class="container">
    <div class="page-caption">
      <h2>Job Detail</h2>
      <p><a href="/" title="Home">Home</a> <i class="ti-angle-double-right"></i> Job Detail</p>
    </div>
  </div>
</div>
<!-- ======================= End Page Title ===================== -->

<!-- ====================== Start Job Detail 2 ================ -->
<section class="padd-top-80 padd-bot-60">
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div class="detail-wrapper">
          <div class="detail-wrapper-body">
			<div class="row">
				<div class="col-md-4 text-center user_profile_img"> <img src="{{ job.company_logo.url }}" class="width-100"  alt=""/>
				  <h4 class="meg-0">{{ job.job_title }}</h4>
				  <span>{{ job.job_location }}</span>
				  <div class="text-center">
                      <a href="{% url 'apply_now' job.jobid %}">
					    <button type="button" class="btn-job theme-btn job-apply">Apply Now</button>
                      </a>
				  </div>
				</div>
				<div class="col-md-8 user_job_detail">
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-credit-card padd-r-10"></i>{{ job.job_package }}</div>
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-mobile padd-r-10"></i>{{ job.company.phone }} </div>
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-email padd-r-10"></i>{{ job.company.company_email }}</div>
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-calendar padd-r-10"></i><span class="full-type">{{ job.job_type }}</span> </div>
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-user padd-r-10"></i><span class="cl-danger">{{ job.open_position }} Open Position</span> </div>
				  <div class="col-sm-12 mrg-bot-10"> <i class="ti-shield padd-r-10"></i>{{ job.job_experience }} Year Exp. </div>
				</div>
			</div>
          </div>
        </div>
        <div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Job Description</h4>
          </div>
          <div class="detail-wrapper-body">
            <p>{{ job.job_desc }}</p>
          </div>
        </div>
		<div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Job Skill</h4>
          </div>
          <div class="detail-wrapper-body">
            <ul class="detail-list">
              <li>{{ job.job_skill }}</li>
              <li>Latin professor at Hampden-Sydney College in Virginia </li>
              <li>looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage ideas </li>
              <li>The standard chunk of Lorem Ipsum used since the 1500s is reproduced </li>
              <li>accompanied by English versions from the 1914 translation by H. Rackham </li>
            </ul>
          </div>
        </div>
        <div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Location</h4>
          </div>
          <div class="detail-wrapper-body">
            <iframe src="https://www.google.com/maps?q={{ job.job_location|urlencode }}" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="detail-wrapper">
          <div class="detail-wrapper-header">
            <h4>Requirements</h4>
          </div>
          <div class="detail-wrapper-body">
            <ul class="detail-list">
              <li>{{ job.job_requirement }}</li>
              <li>the majority have suffered alteration in some form slightly</li>
              <li>you need to be sure there isn't anything embarrassing hidden</li>
              <li>generators on the Internet tend to repeat predefined chunks as necessary</li>
              <li>making this the first true generator on the Internet It uses a dictionary</li>
              <li>Ability to solve problems creatively and effectively</li>
              <li>combined with a handful of model sentence structures</li>
              <li>standard chunk of Lorem Ipsum used since the 1500s is reproduced</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-md-4 col-sm-5">
        <div class="sidebar">
          <!-- Start: Job Overview -->
          <div class="widget-boxed">
            <div class="widget-boxed-header">
              <h4><i class="ti-location-pin padd-r-10"></i>Location</h4>
            </div>
            <div class="widget-boxed-body">
              <div class="side-list no-border">
                <ul>
                  <li><i class="ti-credit-card padd-r-10"></i>Package: {{ job.job_package }}</li>
                  <li><i class="ti-world padd-r-10"></i>{{ job.website }}</li>
                  <li><i class="ti-mobile padd-r-10"></i>{{ job.company.phone }}</li>
                  <li><i class="ti-email padd-r-10"></i>{{ job.company.company_email }}</li>
                  <li><i class="ti-pencil-alt padd-r-10"></i>{{ job.degree }}</li>
                  <li><i class="ti-shield padd-r-10"></i>{{ job.job_experience }} Year Exp.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End: Job Overview -->

          <!-- Start: Opening hour -->
          <div class="widget-boxed">
            <div class="widget-boxed-header">
              <h4><i class="ti-time padd-r-10"></i>Opening Hours</h4>
            </div>
            <div class="widget-boxed-body">
              <div class="side-list">
                <ul>
                  <li>Monday <span>9 AM - 5 PM</span></li>
                  <li>Tuesday <span>9 AM - 5 PM</span></li>
                  <li>Wednesday <span>9 AM - 5 PM</span></li>
                  <li>Thursday <span>9 AM - 5 PM</span></li>
                  <li>Friday <span>9 AM - 5 PM</span></li>
                  <li>Saturday <span>9 AM - 3 PM</span></li>
                  <li>Sunday <span>Closed</span></li>
                </ul>
              </div>
            </div>
          </div>

		  <!-- Start: Location -->
          <div class="widget-boxed">
            <div class="widget-boxed-header">
              <h4><i class="ti-time padd-r-10"></i>Location</h4>
            </div>
            <div class="widget-boxed-body">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.566512514854!2d76.8192921147794!3d30.702470481647698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fecca1d6c0001%3A0xe4953728a502a8e2!2sChandigarh!5e0!3m2!1sen!2sin!4v1520136168627" width="100%" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->

    <div class="row">
      <div class="col-md-12">
        <h4 class="mrg-bot-30">Similar Jobs</h4>
      </div>
    </div>
    <div class="row">
      {% for job in similar_jobs %}
      <!-- Single Job -->
      <div class="col-md-3 col-sm-6">
        <div class="utf_grid_job_widget_area"> 
          <span class="job-type {{ job.job_type|lower }}-type">{{ job.job_type }}</span>
          <div class="utf_job_like">
            <label class="toggler toggler-danger">
              <input type="checkbox">
              <i class="fa fa-heart"></i> 
            </label>
          </div>
          <div class="u-content">
            <div class="avatar box-80"> 
              <a href="/job_details/{{ job.jobid }}"> 
                <img class="img-responsive" src="{{ job.company_logo.url }}" alt=""> 
              </a> 
            </div>
            <h5><a href="/job_details/{{ job.jobid }}">{{ job.job_title }}</a></h5>
            <p class="text-muted">{{ job.job_location }}</p>
          </div>
          <div class="utf_apply_job_btn_item"> 
            <a href="/job_details/{{ job.jobid }}" class="btn job-browse-btn btn-radius br-light">Apply Now</a> 
          </div>
        </div>
      </div>
      {% empty %}
      <div class="col-md-12">
          <p>No similar jobs found.</p>
      </div>
      {% endfor %}

      <!-- Single Job 
      <div class="col-md-3 col-sm-6">
        <div class="utf_grid_job_widget_area"> <span class="job-type full-type">Full Time</span>
          <div class="utf_job_like">
            <label class="toggler toggler-danger">
              <input type="checkbox">
              <i class="fa fa-heart"></i>
			</label>
          </div>
          <div class="u-content">
            <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive" src="{% static 'assets/img/company_logo_2.png' %}" alt=""> </a> </div>
            <h5><a href="employer-detail.html">New Product Mockup</a></h5>
            <p class="text-muted">2708 Scenic Way, IL 62373</p>
          </div>
          <div class="utf_apply_job_btn_item"> <a href="/job_details" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
        </div>
      </div>-->

      <!-- Single Job 
      <div class="col-md-3 col-sm-6">
        <div class="utf_grid_job_widget_area"> <span class="job-type part-type">Full Time</span>
          <div class="utf_job_like">
            <label class="toggler toggler-danger">
              <input type="checkbox" checked>
              <i class="fa fa-heart"></i>
			</label>
          </div>
          <div class="u-content">
            <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive" src="{% static 'assets/img/company_logo_3.png' %}" alt=""> </a> </div>
            <h5><a href="employer-detail.html">Custom Php Developer</a></h5>
            <p class="text-muted">3765 C Street, Worcester</p>
          </div>
          <div class="utf_apply_job_btn_item"> <a href="/job_details" class="btn job-browse-btn btn-radius br-light">Apply Now</a> </div>
        </div>
      </div>-->

      <!-- Single Job 
      <div class="col-md-3 col-sm-6">
        <div class="utf_grid_job_widget_area"> <span class="job-type part-type">Part Time</span>
          <div class="utf_job_like">
            <label class="toggler toggler-danger">
              <input type="checkbox">
              <i class="fa fa-heart"></i>
			</label>
          </div>
          <div class="u-content">
            <div class="avatar box-80"> <a href="employer-detail.html"> <img class="img-responsive" src="{% static 'assets/img/company_logo_4.png' %}" alt=""> </a> </div>
            <h5><a href="employer-detail.html">Wordpress Developer</a></h5>
            <p class="text-muted">2719 Duff Avenue, Winooski</p>
          </div>
          <div class="utf_apply_job_btn_item"> <a href="/job_details" class="btn job-browse-btn btn-radius br-light">Apply Now </a> </div>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!-- ====================== End Job Detail 2 ================ -->
{% endblock %}